Overlay/Status
{
zorder 100
	container Panel(STATUS_INFO)
	{
		
		  metrics_mode pixels
		  vert_align center
		  horz_align center
		  top -300
		  left -400
		  height 600
		  width 800
		  material STATUS
		
		element TextArea(IDMsg)
        {
            metrics_mode pixels
            left 60
            top 60
            width 90
            height 30
            font_name Font/NanumBold18
            char_height 40
            caption ID : PEE
            colour_top 1 1 1
            colour_bottom 1 1 1
        }

		element TextArea(StageMsg)
        {
            metrics_mode pixels
            left 60
            top 100
            width 90
            height 30
            font_name Font/NanumBold18
            char_height 40
            caption Stage : KPU
            colour_top 1 1 1
            colour_bottom 1 1 1
        }

		element TextArea(LVMsg)
        {
            metrics_mode pixels
            left 300
            top 60
            width 90
            height 30
            font_name Font/NanumBold18
            char_height 40
            caption LV : 25
            colour_top 1 1 1
            colour_bottom 1 1 1
        }

		element TextArea(SAVE)
        {
            metrics_mode pixels
            left 200
            top 500
            width 90
            height 30
            font_name Font/NanumBold18
            char_height 50
            caption SAVE
            colour_top 1 1 1
            colour_bottom 1 1 1
        }

		element TextArea(BACK)
        {
            metrics_mode pixels
            left 500
            top 500
            width 90
            height 30
            font_name Font/NanumBold18
            char_height 50
            caption BACK
            colour_top 1 1 1
            colour_bottom 1 1 1
        }
	
	}

}
Overlay/SaveHeart
{
zorder 100

	container Panel(SAVEHEART)
		{
		  metrics_mode pixels
		  vert_align center
		  horz_align center
		  top 200
		  left -250
		  height 40
		  width 30
		  material HEART
		}
}
Overlay/BackHeart
{
zorder 100

	container Panel(BACKHEART)
		{
		  metrics_mode pixels
		  vert_align center
		  horz_align center
		  top 200
		  left 50
		  height 40
		  width 30
		  material HEART
		}
}
