Overlay/Title
{
  zorder 100
	container Panel(TitleContainer)
	{
		container Panel(TitleLOGO)
		{
		  metrics_mode pixels
		  vert_align center
		  horz_align center
		  top -400
		  left -500
		  height 800
		  width 1024
		  material TITLE
		}
	zorder 200	
	  element TextArea(StartMsg)
    {
      metrics_mode relative
      horz_align center
      top 0.8
      left -0.23
      font_name Font/NanumBold18
      char_height 0.05
      caption PRESS Z KEY TO START
      colour_top 1 1 1
      colour_bottom 1 1 1
     }
	}
}
